.icon{
    width: 50px;
    height: 50px;
    text-align: center;
}
.topRow{
    cursor: pointer;
}

.topRow:hover{
    background-color: #ddd;
}

.activeTopRow{
    background-color: #dedede;
}

  
.logo-overlay {
    opacity: 0.6;
    /* Remove position, top, left, and z-index from here */
    display: inline-block;
    .logo {
      width: 100px;
      height: auto;
    }
  }
.chart {
    height: 360px;
}